body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: linear-gradient(0deg, #1a73e8, #a35aff);
}
